
<mat-card>
    <mat-card-header>
        <mat-card-title>Chọn ảnh</mat-card-title>
        <mat-card-actions>
            <div>
                <input type="file" (change)="selectFile($event)" #file hidden>
                <button (click)="file.click()" mat-raised-button color="primary">Chọn Ảnh</button>
                <button id="upload-image" mat-raised-button (click)="upload()">Tải ảnh lên</button>
            </div>
            <div>
                <button mat-raised-button color="accent"id="choose-image" (click)="onSubmit()">Chọn ảnh</button>
                <button mat-raised-button color="warn" id="delete-image">Xóa ảnh</button>
            </div>
        </mat-card-actions>
    </mat-card-header>
    <mat-card-content>
        <div class="list-image">
            <div class="image" *ngFor="let image of listImage" #myDiv (click)="myDiv.classList.toggle('choosen')">
                <img src="{{'data:image/jpg;base64,' + image.data}}" alt="" data-id= "{{image.id}}">
            </div>
        </div>
    </mat-card-content>
</mat-card>