

<div>
    <div class="image-button">
        <div>
            <span>
                <input type="file" (change)="selectFile($event)" #file hidden  />
                <button for="" class="btn" (click)="file.click()" mat-raised-button color="accent">Chọn ảnh</button>
            </span>
            
            <button (click)="upload()" mat-raised-button id="upload-image">
                Tải ảnh lên
            </button>
        </div>
    
        <div>
            <button id="choose-image" mat-raised-button color="primary" (click)="onSubmit()">
                Chọn ảnh
            </button>
            <button id="delete-image" mat-raised-button color="warn">
                Xóa ảnh
            </button>
        </div>
    </div>
    
    
    <div>
        <img [src]="url" alt="" width="100px" height="100px">
    </div>
    
    
    <div class="list-image">
        <div *ngFor="let s of listImage" class="user-image" #myDiv (click)="myDiv.classList.toggle('choosen')">  
            <img src="{{'data:image/jpg;base64,' + s.data}}" alt="" class="image-data" data-id = "{{s.id}}">
        </div>
    </div>

</div>

